{% extends "My_Admin/index.html" %} {% load staticfiles %} {% block title %}排行榜{% endblock %} {% block css %}
<link rel="stylesheet" href="{% static 'My_Admin/Error_rate_ranking.css' %}"> {% endblock %} {% block body %}
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">排行榜</h3>
    </div>
    <div class="panel-body"></div>
</div>
{% endblock %} {% block JS %}
<script type="text/javascript" src="{% static 'My_Admin/Error_rate_ranking.js' %}"></script>
{% endblock %}