{% extends "My_Admin/index.html" %} {% load staticfiles %} {% block title %}批量添加{% endblock %} {% block css %}
<link rel="stylesheet" href="{% static 'My_Admin/Ks_add.css' %}"> {% endblock %} {% block body %}
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">选择单元</h3>
    </div>
    <div class="panel-body">
        <div class="input-group margin_top_10 " id="difficulty_radio_box">
            <span class="input-group-addon">选择课程</span>
            <select id="difficulty_radio" class="form-control" onchange="For_section(value);">
                {% for i in books %}
                <option value="{{ i.pk }}">{{ i.name }}</option>
                {% endfor %}
            </select>
        </div>
        {% comment %}
        <h5 class="margin_top_10">第一单元</h5> {% endcomment %}
        <div id="courseID">
            <!-- <div class="input-group margin_top_10 unit_checkbox_box">
                <span class="input-group-addon">

                    <label class="fancy-checkbox display-inline fancy-checkbox-unit">
                        <input name="check_unit" value="{{ x.pk }}" type="checkbox" onclick="Section_number_ajax(this);">
                        <span>第一单元</span>
                    </label>

                </span>
                    <label class="fancy-checkbox display-inline " >
                        <input name="check_unit" value="{{ x.pk }}" type="checkbox" onclick="Section_number_ajax(this);">
                        <span>第一单元</span>
                    </label>
            </div> -->
            ajax加载中... F12查看具体情况
        </div>
        <div class="col-md-12 padding_l_0 margin_top_10 title_type_number">
            <span>已勾选/
                <span id="all_number"></span>
            </span>
            <span>单选/
                <span id="all_obj_dax"></span>
            </span>
            <span>多选/
                <span id="all_obj_dx"></span>
            </span>
            <span>判断/
                <span id="all_obj_pd"></span>
            </span>
            <span>一星/
                <span id="all_obj_aj1"></span>
            </span>
            <span>二星/
                <span id="all_obj_aj2"></span>
            </span>
            <span>三星/
                <span id="all_obj_aj3"></span>
            </span>
            <span>四星/
                <span id="all_obj_aj4"></span>
            </span>
            <span>五星/
                <span id="all_obj_aj5"></span>
            </span>
        </div>
    </div>
</div>
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">试卷设置</h3>
    </div>
    <div class="panel-body">
        <div class="col-md-3 padding_l_0">
            <div class="input-group">
                <span class="input-group-addon">试卷名称</span>
                <input class="form-control" placeholder="" type="text">
            </div>
        </div>
        <div class="col-md-3 padding_l_0">
            <div class="input-group">
                <span class="input-group-addon">预计题量</span>
                <input class="form-control" placeholder="" type="text" onchange="expect_title_onchange(this)">
            </div>
        </div>
        <div class="col-md-3 padding_l_0">
            <div class="input-group">
                <span class="input-group-addon">考试时间</span>
                <input class="form-control" placeholder="" type="text">
            </div>
        </div>

        <div class="col-md-12"></div>
        <div class="col-md-12 padding_l_0 margin_top_10">
            <div class="input-group">
                <span class="input-group-addon">题目顺序</span>
                <label class="fancy-radio bt-f-check bt-f-check-additional">
                    <input name="order-title" value="1" type="radio" checked="checked">
                    <span>
                        <i></i>随机</span>
                </label>
                <label class="fancy-radio bt-f-check bt-f-check-additional">
                    <input name="order-title" value="2" type="radio">
                    <span>
                        <i></i>经典 单-多-判</span>
                </label>
                <label class="fancy-radio bt-f-check bt-f-check-additional">
                    <input name="order-title" value="3" type="radio">
                    <span>
                        <i></i>难度系数升序</span>
                </label>
                <label class="fancy-radio bt-f-check bt-f-check-additional">
                    <input name="order-title" value="3" type="radio">
                    <span>
                        <i></i>难度系数降序</span>
                </label>
            </div>

        </div>
    </div>
</div>

<div class="col-md-4 padding_0">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title padding_bottom_10">题型分布</h3>
            <label class="fancy-radio bt-f-check">
                <input name="topic-options" value="1" type="radio" checked="checked">
                <span>
                    <i></i>随机</span>
            </label>
            <label class="fancy-radio bt-f-check">
                <input name="topic-options" value="2" type="radio">
                <span>
                    <i></i>手动</span>
            </label>
            <label class="fancy-radio bt-f-check">
                <input name="topic-options" value="3" type="radio">
                <span>
                    <i></i>百分比</span>
            </label>
        </div>
        <div class="panel-body">
            <div class="input-group">
                <span class="input-group-addon">单选</span>
                <input class="form-control" placeholder="" type="text">
            </div>
            <div class="input-group">
                <span class="input-group-addon">多选</span>
                <input class="form-control" placeholder="" type="text">
            </div>
            <div class="input-group">
                <span class="input-group-addon">判断</span>
                <input class="form-control" placeholder="" type="text">
            </div>
        </div>
    </div>
</div>
<div class="col-md-4 padding_0">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title padding_bottom_10">难度分布</h3>
            <label class="fancy-radio bt-f-check">
                <input name="difficulty-options" value="1" type="radio" checked="checked">
                <span>
                    <i></i>随机</span>
            </label>
            <label class="fancy-radio bt-f-check">
                <input name="difficulty-options" value="2" type="radio">
                <span>
                    <i></i>手动</span>
            </label>
            <label class="fancy-radio bt-f-check">
                <input name="difficulty-options" value="3" type="radio">
                <span>
                    <i></i>百分比</span>
            </label>
        </div>
        <div class="panel-body">
            <div class="input-group">
                <span class="input-group-addon">1星</span>
                <input class="form-control" placeholder="" type="text">
            </div>
            <div class="input-group">
                <span class="input-group-addon">2星</span>
                <input class="form-control" placeholder="" type="text">
            </div>
            <div class="input-group">
                <span class="input-group-addon">3星</span>
                <input class="form-control" placeholder="" type="text">
            </div>
        </div>
    </div>
</div>

<div class="col-md-4 padding_0">
    <div class="panel">
        <div class="panel-heading ">
            <h3 class="panel-title padding_bottom_10">小节分布</h3>
            <label class="fancy-radio bt-f-check">
                <input name="unit-options" value="1" type="radio" checked="checked">
                <span>
                    <i></i>随机</span>
            </label>
            <label class="fancy-radio bt-f-check">
                <input name="unit-options" value="2" type="radio">
                <span>
                    <i></i>手动</span>
            </label>
            <label class="fancy-radio bt-f-check">
                <input name="unit-options" value="3" type="radio">
                <span>
                    <i></i>百分比</span>
            </label>
        </div>
        <div class="panel-body">
            <div class="input-group">
                <span class="input-group-addon">单选</span>
                <input class="form-control" placeholder="" type="text">
            </div>
            <div class="input-group">
                <span class="input-group-addon">多选</span>
                <input class="form-control" placeholder="" type="text">
            </div>
            <div class="input-group">
                <span class="input-group-addon">判断</span>
                <input class="form-control" placeholder="" type="text">
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block JS %}
<script type="text/javascript" src="{% static 'My_Admin/Ks_add.js' %}"></script> {% endblock %}