<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="css/animsition.min.css" />
		<link rel="stylesheet" href="css/rfm.css" />
		<link rel="stylesheet" href="css/drop-down.css" />
		<link rel="stylesheet" href="css/common.css" />
	</head>
	<body>
		<div class="data_wrap">
			<header class="rfm_header">
				<ul>
					<li class="active"><a class="animsition-link" href="RFM_data.html" data-animsition-out="fade-out-left-sm">RFM模型分析</a></li>
					<li><a class="animsition-link" href="R_data.html" data-animsition-out="fade-out-left-sm">R值分析</a></li>
					<li><a class="animsition-link" href="F_data.html" data-animsition-out="fade-out-left-sm">F值分析</a></li>
					<li><a class="animsition-link" href="M_data.html" data-animsition-out="fade-out-left-sm">M值分析</a></li>
				</ul>
			</header>
		    <div class="animsition">
				<div class="data_time_set">
					<div>最近付款时间在<span class="now_time">2017-1-20</span>前</div>
					<select name="drop2" class="ui-select">
						<option value="1">一年</option>
						<option value="2">两年</option>
						<option value="3">全部</option>
					</select>
					<div>的客户</div>
				</div>
				<div class="data_jiage_set">
					<table id="RFM_table" cellspacing="5">
						<tr>
							<th>付款总额：&yen;<span>12354</span></th>
							<th>付款总额：&yen;<span>321321</span></th>
							<th>付款总额：&yen;<span>321321</span></th>
							<th>付款总额：&yen;<span>321321</span></th>
							<th>付款总额：&yen;<span>321321</span></th>
						</tr>
						<tr>
							<td class="tb_high">
								<h6>90 &lt; R &le; 180, F=1</h6>
								<p>客户数量：<span>66255</span>(<span>13%</span>)</p>
								<p>客单价：&yen;<span>126548</span></p>
								<p>付款总额：&yen;<span>126548</span></p>
							</td>
							<td class="tb_half">
								<h6>90 &lt; R &le; 180, F=1</h6>
								<p>客户数量：<span>66255</span>(<span>13%</span>)</p>
								<p>客单价：&yen;<span>126548</span></p>
								<p>付款总额：&yen;<span>126548</span></p>
							</td>
							<td class="tb_ten">
								<h6>90 &lt; R &le; 180, F=1</h6>
								<p>客户数量：<span>66255</span>(<span>13%</span>)</p>
								<p>客单价：&yen;<span>126548</span></p>
								<p>付款总额：&yen;<span>126548</span></p>
							</td>
							<td class="tb_one">
								<h6>90 &lt; R &le; 180, F=1</h6>
								<p>客户数量：<span>66255</span>(<span>13%</span>)</p>
								<p>客单价：&yen;<span>126548</span></p>
								<p>付款总额：&yen;<span>126548</span></p>
							</td>
							<td class="tb_zero">
								<h6>90 &lt; R &le; 180, F=1</h6>
								<p>客户数量：<span>66255</span>(<span>13%</span>)</p>
								<p>客单价：&yen;<span>126548</span></p>
								<p>付款总额：&yen;<span>126548</span></p>
							</td>
						</tr>			
						<tr>
							<td class="tb_high">
								<h6>90 &lt; R &le; 180, F=1</h6>
								<p>客户数量：<span>66255</span>(<span>13%</span>)</p>
								<p>客单价：&yen;<span>126548</span></p>
								<p>付款总额：&yen;<span>126548</span></p>
							</td>
							<td class="tb_ten">
								<h6>90 &lt; R &le; 180, F=1</h6>
								<p>客户数量：<span>66255</span>(<span>13%</span>)</p>
								<p>客单价：&yen;<span>126548</span></p>
								<p>付款总额：&yen;<span>126548</span></p>
							</td>
							<td class="tb_one">
								<h6>90 &lt; R &le; 180, F=1</h6>
								<p>客户数量：<span>66255</span>(<span>13%</span>)</p>
								<p>客单价：&yen;<span>126548</span></p>
								<p>付款总额：&yen;<span>126548</span></p>
							</td>
							<td class="tb_zero">
								<h6>90 &lt; R &le; 180, F=1</h6>
								<p>客户数量：<span>66255</span>(<span>13%</span>)</p>
								<p>客单价：&yen;<span>126548</span></p>
								<p>付款总额：&yen;<span>126548</span></p>
							</td>
							<td class="tb_zero">
								<h6>90 &lt; R &le; 180, F=1</h6>
								<p>客户数量：<span>66255</span>(<span>13%</span>)</p>
								<p>客单价：&yen;<span>126548</span></p>
								<p>付款总额：&yen;<span>126548</span></p>
							</td>
						</tr>	
						<tr>
							<td class="tb_top">
								<h6>90 &lt; R &le; 180, F=1</h6>
								<p>客户数量：<span>66255</span>(<span>13%</span>)</p>
								<p>客单价：&yen;<span>126548</span></p>
								<p>付款总额：&yen;<span>126548</span></p>
							</td>
							<td class="tb_high">
								<h6>90 &lt; R &le; 180, F=1</h6>
								<p>客户数量：<span>66255</span>(<span>13%</span>)</p>
								<p>客单价：&yen;<span>126548</span></p>
								<p>付款总额：&yen;<span>126548</span></p>
							</td>
							<td class="tb_half">
								<h6>90 &lt; R &le; 180, F=1</h6>
								<p>客户数量：<span>66255</span>(<span>13%</span>)</p>
								<p>客单价：&yen;<span>126548</span></p>
								<p>付款总额：&yen;<span>126548</span></p>
							</td>
							<td class="tb_ten">
								<h6>90 &lt; R &le; 180, F=1</h6>
								<p>客户数量：<span>66255</span>(<span>13%</span>)</p>
								<p>客单价：&yen;<span>126548</span></p>
								<p>付款总额：&yen;<span>126548</span></p>
							</td>
							<td class="tb_one">
								<h6>90 &lt; R &le; 180, F=1</h6>
								<p>客户数量：<span>66255</span>(<span>13%</span>)</p>
								<p>客单价：&yen;<span>126548</span></p>
								<p>付款总额：&yen;<span>126548</span></p>
							</td>
						</tr>	
						<tr>
							<td class="tb_zero">
								<h6>90 &lt; R &le; 180, F=1</h6>
								<p>客户数量：<span>66255</span>(<span>13%</span>)</p>
								<p>客单价：&yen;<span>126548</span></p>
								<p>付款总额：&yen;<span>126548</span></p>
							</td>
							<td class="tb_ten">
								<h6>90 &lt; R &le; 180, F=1</h6>
								<p>客户数量：<span>66255</span>(<span>13%</span>)</p>
								<p>客单价：&yen;<span>126548</span></p>
								<p>付款总额：&yen;<span>126548</span></p>
							</td>
							<td class="tb_one">
								<h6>90 &lt; R &le; 180, F=1</h6>
								<p>客户数量：<span>66255</span>(<span>13%</span>)</p>
								<p>客单价：&yen;<span>126548</span></p>
								<p>付款总额：&yen;<span>126548</span></p>
							</td>
							<td class="tb_zero">
								<h6>90 &lt; R &le; 180, F=1</h6>
								<p>客户数量：<span>66255</span>(<span>13%</span>)</p>
								<p>客单价：&yen;<span>126548</span></p>
								<p>付款总额：&yen;<span>126548</span></p>
							</td>
							<td class="tb_zero">
								<h6>90 &lt; R &le; 180, F=1</h6>
								<p>客户数量：<span>66255</span>(<span>13%</span>)</p>
								<p>客单价：&yen;<span>126548</span></p>
								<p>付款总额：&yen;<span>126548</span></p>
							</td>
						</tr>	
						<tr>
							<td class="tb_zero">
								<h6>90 &lt; R &le; 180, F=1</h6>
								<p>客户数量：<span>66255</span>(<span>13%</span>)</p>
								<p>客单价：&yen;<span>126548</span></p>
								<p>付款总额：&yen;<span>126548</span></p>
							</td>
							<td class="tb_zero">
								<h6>90 &lt; R &le; 180, F=1</h6>
								<p>客户数量：<span>66255</span>(<span>13%</span>)</p>
								<p>客单价：&yen;<span>126548</span></p>
								<p>付款总额：&yen;<span>126548</span></p>
							</td>
							<td class="tb_zero">
								<h6>90 &lt; R &le; 180, F=1</h6>
								<p>客户数量：<span>66255</span>(<span>13%</span>)</p>
								<p>客单价：&yen;<span>126548</span></p>
								<p>付款总额：&yen;<span>126548</span></p>
							</td>
							<td class="tb_zero">
								<h6>90 &lt; R &le; 180, F=1</h6>
								<p>客户数量：<span>66255</span>(<span>13%</span>)</p>
								<p>客单价：&yen;<span>126548</span></p>
								<p>付款总额：&yen;<span>126548</span></p>
							</td>
							<td class="tb_zero">
								<h6>90 &lt; R &le; 180, F=1</h6>
								<p>客户数量：<span>66255</span>(<span>13%</span>)</p>
								<p>客单价：&yen;<span>126548</span></p>
								<p>付款总额：&yen;<span>126548</span></p>
							</td>
						</tr>	
					</table>
				</div>
		    </div>
		</div>
		<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
		<script src="http://www.jq22.com/jquery/jquery-ui-1.11.0.js"></script>
		<script src="js/select-widget-min.js"></script>
		<script src="js/jquery.animsition.min.js"></script>
		<script src="js/common.js"></script>
		<script>
			$(document).ready(function() {
  			  //初始化切换
			  $(".animsition").animsition({
			  
			    inClass               :   'fade-in-right',
			    outClass              :   'fade-out',
			    inDuration            :    1500,
			    outDuration           :    800,
			    linkElement           :   '.animsition-link',
			    // e.g. linkElement   :   'a:not([target="_blank"]):not([href^=#])'
			    loading               :    true,
			    loadingParentElement  :   'body', //animsition wrapper element
			    loadingClass          :   'animsition-loading',
			    unSupportCss          : [ 'animation-duration',
			                              '-webkit-animation-duration',
			                              '-o-animation-duration'
			                            ],
			    //"unSupportCss" option allows you to disable the "animsition" in case the css property in the array is not supported by your browser.
			    //The default setting is to disable the "animsition" in a browser that does not support "animation-duration".
			    
			    overlay               :   false,
			    
			    overlayClass          :   'animsition-overlay-slide',
			    overlayParentElement  :   'body'
			  });
			});
		</script>
	</body>
</html>
