.bt-f-check{
    display: inline;
}

.bt-f-check input[type="radio"] + span{
    margin-top: -3px;
    font-size: 13px;
}
.fancy-checkbox input[type="checkbox"] + span {
    font-size: 18px;
    margin-left: 20px;
}
.unit_checkbox_box .input-group-addon{
    max-width: 150px;
    overflow: auto;
}